@use '../../../global.scss' as *;

.modalBody {
  position: fixed;
  width: 100dvw;
  height: 100dvh;
  top: 0;
  left: 0;
  background-color: $color-modal-overlay;

  z-index: $z-index-modal;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modalObject {
  width: 300px;
  height: 450px;
  padding: 15px;
  background-color: $color-modal-bg;

  border-radius: 12px;

  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: 24px;

  div {
    margin: 5px 0;
  }
}
