.main {
  width: 100dvw;
  height: 100dvh;
  display: flex;

  background-color: #fff;

  align-items: center;
  flex-direction: column;
}

.title {
  margin-top: 36px;
}

.contentItems {
  margin: 10px;
  width: 100%;
}

.itemList {
  margin: 15px;
  padding: 0 5px;
  li {
    opacity: 0;
  }

  .item {
    padding: 12px 0;
  }

  .borderItem {
    border: 0.5px solid #d6d6d6;
    height: 0;
  }
}
